.container {
	&-form {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 1em;
		&-input {
			flex: 0.75;
		}
		&-action {
			flex: 0.25;
			display: flex;
			justify-content: center;
		}
	}
}
